.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

/* adds full screen height to our main screen */
.ant-layout {
  height: 100vh;
}

/* styles homescreen's h1 Title */
Header h1 {
  font-size: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

