
/* adds full screen height to our main screen */
.ant-layout {
  height: 100vh;
}

 /*=============\\
 ||   Sidebar   ||
 \\=============*/

/* styles homescreen header  */
.ant-layout-header {
  background: #fff;
  margin: 15px;
  text-align: center;

}

/* styles homescreen's h1 Title */
Header h1 {
  font-size: 50px;
  padding: 15px;
  margin-bottom: 10px;
}


/* style  */
#app {
  font: 70px;
}

/* logo img itself */
#appLogo {
  height: 150px;
  margin: 30px 0 30px 45px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*=============\\
||    Pages    ||
\\=============*/

/* Home */

#topSearch {
  margin-top: 20px;
}

.headerText {
  font-family: 'Dosis';
  font-weight: 600;
  text-align: center;
  width: 100%;
}
